$bg-color: rgba(0, 0, 255, 0.678);
$std-margin: 1rem;
@mixin flex($align,$direction){
    display: flex;
    justify-content: center;
    align-items: $align;
    flex-flow: $direction nowrap;
}
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 6rem;
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1.5rem;
    h1, h2{
        font-size: 1rem;
    }
}
.nav_links{
    margin-top: $std-margin;
    @include flex(stretch,row);
    margin-bottom: $std-margin;
    background-color: $bg-color;
}
li{
    padding: $std-margin;
    list-style: none;
    a{
        text-decoration: none;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.main{
    @include flex(center,column);
    .section_text{
        margin: $std-margin;
        h3{
            text-align: center;
        }
    }
    .section_images{
        margin: $std-margin;
        @include flex(center,column);
        img{
            height: 12rem;
            width: 18rem;
            margin: 0 .5rem $std-margin .5rem;
        }
    }
}
.aside{
    @include flex(stretch,column);
    margin: $std-margin;
    aside{
        border: .2rem solid $bg-color;
        padding: $std-margin;
        margin: $std-margin;
    }
}
.footer{
    height: 5rem;
    margin-top: $std-margin;
    background-color: $bg-color;
    .footer_links{
        @include flex(stretch,row);
        margin-bottom: $std-margin;
    }
}
@media screen and (min-width: 600px) {
    .section_images{
        flex-flow: row wrap;
    }
    .section_text{
        width: 70%;
    }
    .aside{
        flex-flow: row wrap;
        aside{
            width: 45%;
            margin: .5rem;
        }
    }
}